<h1>Words#score</h1>

<p>Your guess was: <%= @guess %></p>
<p>The letters you had were: <%= @grid %></p>
<p>You took: <%= @time.round %> seconds</p>
<p>Your score is: <%= @score.round %></p>
<p> <%= @message %></p>

